:root {
    font-family: 'Inter', sans-serif;
    scroll-behavior: smooth;

    --spanish-blue: #0170b2ff;
    --carolina-blue: #019bdaff;
    --cerulean-crayola: #2aafd8ff;
    --cultured: #edeeebff;
    --platinum: #e8e9e7ff;
}


code {
    font-family: 'Fira Code', monospace;
}

::selection {
    background-color: turquoise;
    color: white;
}
body{
    width: 100vw;
    height: 100vh;
    background-image: url('assets/miniature-airplane-travel-theme_93675-128391.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: brightness(30%);
}
.home-container{
    padding: 0;
    margin: 0;
    width: 100vh;
    height: auto;
}
.box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50vh;
    border-radius: 1em;
    padding-top: 5em;
    padding-bottom: 5em;
    padding-left: 1em;
    padding-right: 1em;
    background: rgba(250, 243, 243, 0.15);
    border: 2px solid rgba(79, 76, 76, 0.1);
    box-shadow: 0 0 40px rgba(33, 33, 35, 0.6);
    backdrop-filter:   blur(10em);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: ease-in;
}

.input{
    background-color: rgba(250, 243, 243, 0.3);
    border-radius: 3px;
    width: 40vh;
    border: none;
    cursor: text;
    padding: 0.5em;
    border-radius: 0.5em;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0%;
    margin-right: 0%;
    color: white;   
}
:focus{
    /* border: none; */
    outline: none !important;
    border:1px solid var(--spanish-blue);
    box-shadow: 0.0em 0.0em 0.1em 0.1em #719ECE;
    transition: ease-in-out .1s 
}
::placeholder{
    color: #e5e5e5;
    /* text-align: center; */
}
.login-heading{
    color: white;
}

.submit-btn{
    margin-top: 2em;
    width: 100%;
    background-color: #ffffff;
    color: #514e61;
    padding: 0.5em 0;
    font-size: 1em;
    font-weight: 600;
    border: none;
    border-radius: 1em;
    cursor: pointer;
}


#snackbar {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    background-color: #333; /* Black background color */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    left: 50%; /* Center the snackbar */
    bottom: 30px; /* 30px from the bottom */
  }
  
  /* Show the snackbar when clicking on a button (class added with JavaScript) */
  #snackbar.show {
    visibility: visible; /* Show the snackbar */
    /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
    However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.7s, fadeout 0.5s 3.5s;
    animation: fadein 0.7s, fadeout 0.5s 3.5s;
  }
  
  /* Animations to fade the snackbar in and out */
  @-webkit-keyframes fadein {
    from {top: 0; opacity: 0;}
    to {top: 30px; opacity: 1;}
  }
  
  @keyframes fadein {
    from {top: 0; opacity: 0;}
    to {top: 30px; opacity: 1;}
  }
  
  @-webkit-keyframes fadeout {
    from {top: 30px; opacity: 1;}
    to {top: 0; opacity: 0;}
  }
  
  @keyframes fadeout {
    from {top: 30px; opacity: 1;}
    to {top: 0; opacity: 0;}
  }